<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        
        
        <script>
            var socket = io();

            socket.on('socketToMe', (data) => {
                console.log(data);
            });

            socket.on('news', (data) => {
                console.log(data);
            });

            socket.on('router_emit1', (data) => {
                console.log(data);
            });

            socket.on('datetime', function (data) {
                console.log(data);
                $("#clock").text(new Date(data));
            });
            
            socket.on('newchange', function (data) {
                var messages = document.querySelector('#messages');
                var new_data = JSON.stringify(data, null, 3);
                var message = '<b>' + new_data + '</b>';
                messages.innerHTML = message;
            });

            socket.on('router_emit2', (data) => {
                console.log(data)
            });
        </script>
    </head>

    <body class="bg-info">

        

        <h3>Change List</h3>
        <p id="clock"></p>
        <div id="message_box">
            <p id="messages"></p>
        </div>

        <h1><%= title %></h1>
        <p><a href="javascript:void(0);" onclick="fnClickAddRow();">Click to add a new row</a></p>
            <div>
                <table id="CaseTable" class="table table-bordered table-sm"></table>
            </div>
        
            <script>
                // https://datatables.net/beta/1.8/examples/api/add_row.html
                var giCount = 1;
                var dataSet = <%- JSON.stringify(caseTable) %>;
        
                // $(document).ready(function () {
                var dt = $('#CaseTable').DataTable({
                    "paging": true,
                    "pageLength": 100,
                    "data": dataSet,
                    columns : [
                        { title: "Engineers", data: "case_owner_name__c" },
                        { title: "Case #", data: "casenumber" },
                        { title: "Esclt", data: "isescalated" },
                        { title: "Pri", data: "priority" },
                        { title: "Age", data: "case_age__c" },
                        { title: "Entitlement", data: "entitlement_type__c" },
                        { title: "FR", data: "first_response_complete__c" },
                        { title: "Language", data: "preferred_case_language__c" },
                        { title: "TimeZone", data: "case_preferred_timezone__c" },
                        { title: "Product", data: "product__c" },
                        { title: "Category", data: "category__c" },
                        { title: "Subject", data: "subject" },
                        { title: "Account", data: "name", "defaultContent": "" }
                    ]
                    });
                    // dt.draw();
                // });

                function fnClickAddRow() {
                    $('#CaseTable').DataTable().fnAddData( [
                        giCount+".1",
                        giCount+".2",
                        giCount+".3",
                        giCount+".4" ] );
                    
                    giCount++;
                }
            </script>
    </body>
</html>




