body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#message_box {
    display: block;
    height: 100 px;
    background-color: #c2f542;
    /* overflow: scroll; */
    border-style: solid;
    border-color: darkgreen;
}

#messages {
    white-space: pre;
}